.gold-mined {
  color: red;
}

.shopMenu {
  background-color: #FF8C00; /* dark orange */
  color: orange; /* Dark Orange */
}

body { /* no . means element type */
  text-align: center; /* text-align centers text AND children */
 }

* { /* * applies to all elements, use with caution */
  outline: none;
}
